/*==================================================
  01 - GOOGLE FONT
==================================================*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');


/*==================================================
  02 - RESET
==================================================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*==================================================
  03 - GRID VARIABLES
==================================================*/

:root{

--driver-columns:
    70px
    3fr
    1.2fr
    1.5fr
    80px
    80px;

}

/*==================================================
  03 - PAGE
==================================================*/

body{

    min-height:100vh;

    font-family:'Oswald', sans-serif;

    color:white;

    padding:40px;

    background:
        radial-gradient(circle at top left,
        rgba(25,120,140,.45),
        transparent 55%),

        linear-gradient(
        135deg,
        #08232b 0%,
        #06171d 45%,
        #000000 100%);

    background-attachment:fixed;

}


/*==================================================
  04 - PAGE LAYOUT
==================================================*/

.page{

    max-width:1200px;
    margin:auto;

}


/*==================================================
  05 - WIDGET
==================================================*/

.widget{

    background:none;

    border:none;

    border-radius:0;

    padding:30px;

}

/*==================================================
  DRIVER HEADER
==================================================*/
.driver-header{

    display:grid;
    grid-template-columns:var(--driver-columns);

    gap:10px;

    padding:12px 24px;

    margin-bottom:10px;

    border:1px solid red;

}

.driver-header div{

    display:flex;
    align-items:center;

}

.driver-header div:nth-child(5),
.driver-header div:nth-child(6){

    justify-content:flex-end;

}

.driver-header{
 
    display:grid;
    grid-template-columns:var(--driver-columns);
    gap:10px;

    padding:12px 24px;

    margin-bottom:10px;

    color:#999;

    font-size:14px;

    font-weight:600;

    letter-spacing:2px;

    text-transform:uppercase;

}

/*==================================================
  06 - HEADER
==================================================*/

.widget-header{

    margin-bottom:30px;

}

h1{

    font-size:42px;
    font-weight:600;
    color:#ff3030;
    text-transform:uppercase;
    letter-spacing:1px;

}

.subtitle{

    margin-top:8px;
    color:#bbbbbb;
    font-size:18px;

}


/*==================================================
  07 - DRIVER CONTAINER
==================================================*/

#drivers{

    display:flex;
    flex-direction:column;
    gap:10px;

}


/*==================================================
  08 - DRIVER CARD
==================================================*/

.driver-card{

    display:grid;

    grid-template-columns:var(--driver-columns);

    align-items:center;

    gap:10px;

    padding:12px 24px;

    border:1px solid rgba(255,255,255,0.12);
    border:1px solid #666;

    border-radius:0;

    transition:0.25s;

}


/*==================================================
  09 - POSITION
==================================================*/

.position{

    font-size:24px;
    font-weight:700;
    color:#ff3030;
    text-align:center;

}


/*==================================================
  10 - DRIVER NAME
==================================================*/

.driver-name{

    font-size:24px;
    font-weight:600;
    color:white;
  text-transform: uppercase;
  

}


/*==================================================
  11 - NATIONALITY
==================================================*/

.nationality{

    font-size:20px;
    color:#bdbdbd;

}


/*==================================================
  12 - TEAM
==================================================*/

.team{

    font-size:20px;
    color:white;

}


/*==================================================
  13 - POINTS & WINS
==================================================*/

.points,
.wins{

    font-size:22px;
    font-weight:600;
    text-align:right;

}


/*==================================================
  14 - HOVER EFFECT
==================================================*/

.driver-card:hover{

    background:rgba(300,300,300,.25);
    transform:translateX(3px);
    cursor:pointer;

}




/*==================================================
  15 - RESPONSIVE
==================================================*/

@media (max-width:900px){

    .driver-card{

        grid-template-columns:60px 2fr 1fr;

        row-gap:8px;

    }

}
