/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.card{

    background:#1a1a1a;
    border-radius:14px;
    padding:25px;
    border:1px solid #333;

}

body{
    font-family:'Oswald', sans-serif;
    background:#111;
    color:#fff;
    padding:40px;
}

h1{
    font-size:48px;
    font-weight:600;
    color:#ff2d2d;
    margin-bottom:25px;
    letter-spacing:1px;
    text-transform:uppercase;
}

h2{
    font-size:30px;
    margin-top:35px;
    margin-bottom:20px;
    color:#ffffff;
}

.table-container{

    overflow-x:auto;

}

table{

    width:100%;
    border-collapse:collapse;
    margin-top:25px;

}

.page{

    max-width:1200px;
    margin:auto;
    padding:40px;

}

thead{

    background:#ff3030;

}

th{

    padding:16px;
    text-align:left;
    font-size:18px;
    letter-spacing:1px;

}

td{

    padding:14px 16px;
    text-align:left;
    border-bottom:1px solid #333;

}

tbody tr{

    transition:.25s;

}

tbody tr:nth-child(even){

    background:#181818;

}

tbody tr:hover{

    background:#252525;

}

p:hover{
    background:#292929;
    transform:translateX(6px);
}

strong{
    color:#ff2d2d;
}
