/*==================================================
  CARD
==================================================*/

.card{

    background:var(--dark-grey);
    border:var(--border-thin) solid var(--mid-grey);
    border-radius:var(--radius-none);
    padding:var(--padding-small);

}
