/*==================================================
  TABLE
==================================================*/

.table{

    display:flex;
    flex-direction:column;
    gap:var(--space-medium);
  padding-right:16px;

}

.table-header{

    margin-bottom:var(--space-medium);

}

/*==================================================
  TABLE VARIANTS
==================================================*/

.table--drivers{

    --columns:
        70px
        3fr
        1.2fr
        1.5fr
        90px
        90px;

}

.table--constructors{

    --columns:
        70px
        5fr
        120px
        120px;

}


/*==================================================
  TABLE ROWS
==================================================*/

.table-header{

    display:grid;
    grid-template-columns:var(--columns);
    gap:var(--space-medium);
    align-items:center;

   background:var(--red);
    color:var(--white);

    font-size:0.85rem;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:1px;

}

.table-row{

    display:grid;
    grid-template-columns:var(--columns);
    gap:var(--space-medium);
    align-items:center;
      text-transform:uppercase;
    letter-spacing:1px;

}



/*==================================================
  TABLE CELLS
==================================================*/

.table-cell{

    display:flex;

    align-items:center;

}

.table-cell--left{

    justify-content:flex-start;

}

.table-cell--center{

    justify-content:center;

}

.table-cell--right{

    justify-content:flex-end;

}
