/*==================================================
  TABLE
==================================================*/

.table{

    --columns:

        70px
        3fr
        1.2fr
        1.5fr
        80px
        80px;

    display:flex;

    flex-direction:column;

    gap:var(--space-medium);

}


/*==================================================
  TABLE HEADER
==================================================*/

.table-header{

    display:grid;

grid-template-columns:var(--columns);

    gap:var(--space-medium);

    align-items:center;

}


/*==================================================
  TABLE ROW
==================================================*/

.table-row{

    display:grid;

grid-template-columns:var(--columns);

    gap:var(--space-medium);

    align-items:center;

}


/*==================================================
  TABLE CELLS
==================================================*/

.table-cell{

    display:flex;

    align-items:center;

}

.table-cell--center{

    justify-content:center;

}

.table-cell--right{

    justify-content:flex-end;

}
